body {
    font-family: 'Roboto', sans-serif;
    margin: 1%;
    padding: 1%;
    text-align: center;

}

header {
    background-color: #000000;
    color: rgba(255, 255, 255, 0.374);
    padding: 1% 10;
    text-align: center;
}


img {
    width: 10%;
    height: auto;
    border-radius: 50%;
      
    }
    
    img {
        border: 1px solid rgb(255, 255, 255);
        width: 18%;

    }

    img{

        width: 14%;
        background-size: 10%;
        height: auto;
        float: unset;
    }

nav ul {
    list-style-type: none;
    margin: 2%;
    padding: 2%;
    overflow: hidden;
    background-color: #27242474;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    color: rgb(248, 248, 248);
    padding: 3% 2%px;
    text-decoration: dashed;
}

nav ul li a:hover {
    background-color: #00000050;
}

main {
    padding: %;
}

section {
    margin-bottom: 2px;
}

aside {
    background-color: #1111116e;
    padding: 2px;
    margin: 20px 0;
}

footer {
    background-color: #333333;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 5px 0;
    position: static;
    width: 99%;
    bottom: ;
}


body { projetos
    font-size: 10px;
    background-color: rgb(5, 5, 5);
    color: aliceblue;
    text-align: center;
    font-size: 100%;

  }

  body img{
    font-display: ;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100px;
    border-radius: 100px;
  }

  p {
    color: rgb(255, 255, 255);
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .box {
    position: relative;
    top: 10px;
    left: 20px;
  }


 

  

